<div class="s-booking-banner">
  <a href="#booking">
    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker_item">91 Golborne Road, London W10 5NL * 91 Golborne Road, London W10 5NL * 91 Golborne Road, London W10 5NL * 91 Golborne Road, London W10 5NL * 91 Golborne Road, London W10 5NL * 91 Golborne Road, London W10 5NL *</div>
      </div>
    </div>
  </a>
</div>
<footer>
  <div class="container">
    <div class="s-address">
      <img src="https://cdn.shopify.com/s/files/1/0625/1800/1827/files/GENTLEMANS_JOURNAL_STRAKERS_57_1.jpg?v=1699870356">
      <p>
        STRAKER’S
        <br/>
        91 Golborne Road
        London W10 5NL
        <br/><br/>
        Opening Hours
        <br/><br/>
        Mon – Tues:<br/>
        18:00 - 23:00<br/>
        <br/>
        Wed — Sun:<br/>
        12:00 - 17:00<br/>
        18:00 - 23:00<br/>
        <br/><br/>
        <span class="s-instagram-link">
          <a href="https://www.instagram.com/strakers__/"><svg width="33" height="33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.157 21.016a5 5 0 1 0 0-10 5 5 0 0 0 0 10Z" stroke="#000" stroke-width="2" stroke-miterlimit="10"/><path d="M21.657 4.516h-11a6 6 0 0 0-6 6v11a6 6 0 0 0 6 6h11a6 6 0 0 0 6-6v-11a6 6 0 0 0-6-6Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.657 11.016a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" fill="#000"/></svg></a>
        </span>
        <br/>
        <br/>
      </p>
    </div>
  </div>
</footer>
