<header>
  <div class="container">
    <div class="flex s-header-flex">
      <div class="s-logo">
        <a href="/"><img src="https://cdn.shopify.com/s/files/1/0625/1800/1827/files/logo-svg-strakers.svg?v=1699870802"></a>
      </div>
      <div class="s-menu">
        <ul class="s-header-menu">
          <li><a href="/#booking">Reservations</a></li>
          <li><a href="/#menu">Menu</a></li>
          <li><a href="/pages/about">About Us</a></li>
          <li><a href="/collections/all">Shop</a></li>
          <li><a href="/pages/contact-us">Contact</a></li>
        </ul>
      </div>
      <div class="s-social">
        <a href="https://www.instagram.com/strakers__/"><svg width="33" height="33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.157 21.016a5 5 0 1 0 0-10 5 5 0 0 0 0 10Z" stroke="#000" stroke-width="2" stroke-miterlimit="10"/><path d="M21.657 4.516h-11a6 6 0 0 0-6 6v11a6 6 0 0 0 6 6h11a6 6 0 0 0 6-6v-11a6 6 0 0 0-6-6Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.657 11.016a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" fill="#000"/></svg></a>
      </div>
      <div class="s-hamburger closed">
        <img class="s-hamburger-open" src="https://cdn.shopify.com/s/files/1/0625/1800/1827/t/2/assets/m-close-green.png?v=1700152506">
        <!-- <img class="s-hamburger-closed" src="https://cdn.shopify.com/s/files/1/0625/1800/1827/files/hamburger_closed.png?v=1666789253"> -->
        <img class="s-hamburger-closed" src="https://cdn.shopify.com/s/files/1/0625/1800/1827/t/2/assets/m-open-green.png?v=1700152497">
      </div>
    </div>
  </div>
</header>
<div class="s-mobile-menu closed">
  <ul class="s-mobile-menu-list">
    <li><a href="https://resy.com/cities/ldn/strakers?date=2022-10-09&seats=2">Reservations</a></li>
    <li><a href="/#menu">Menu</a></li>
    <li><a href="/pages/about">About Us</a></li>
    <li><a href="/collections/all">Shop</a></li>
    <li><a href="/pages/contact-us">Contact</a></li>
  </ul>


<div class="hours hrs">
<p>Kitchen Hours</p>

<p>MON – TUES:<span style="margin-left:30px;">18:00 — 23:00</span></p>
<!-- <p style="margin-left: 125px;">18:00 — 23:00</p>  -->

<p>WEDS – SUN:<span style="margin-left:30px;">12:00 — 17:00</span></p>
<p style="margin-left: 125px;">18:00 — 23:00</p> 

	
</div>





  
</div>
