<section id="booking" class="resy-widget-container">
  <h2>Join us at STRAKERS</h2>
  <div class="s-resy-widget">
    <a href="https://resy.com/cities/ldn/strakers" id="resyButton-J3U9M5WFvpoGy2RsHhGrt">Book your Table</a>
      <script src="https://widgets.resy.com/embed.js"></script>
      <script>
          resyWidget.addButton(document.getElementById('resyButton-J3U9M5WFvpoGy2RsHhGrt'), {"venueId":62873,"apiKey":"sZabM8GQxfmle3fX1X5YMNUn6WsJh4O6","replace":true,"date":"2022-12-01"});
      </script>
  <div>
</section>

{% schema %}
{
  "name": "Strakers resy event",
  "tag": "section",
  "class": "resy-widget",
  "settings": [

  ],
  "presets": [
    {
      "name": "Strakers Resy Event",
      "category": "Strakers"
    }
  ]
}
{% endschema %}
